

.home-page {

    margin: 0;
    padding-top: 80px;
    
    color: $primary-text-color; 
    font-family: $font-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


   
.container {
    /* outline: solid tomato;      */
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}
/* 
img {
    display: block;
    max-width: 100%;
    height: auto;
}   */

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}


/* .link {
    text-decoration: none;
    /* color: var(--primary-text-color );
}  */


 a:hover,
 button:hover {
    cursor: pointer;
} 
