$primary-background-color: #ffffff;
$secondary-background-color: #F5F4FA;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$title-text-color: #ffffff; 
$accent-color: #2196F3;
$additional-link-color: #AFB1B8;

$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

